@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="intro-section">
        <h1>Find nearby banks and ATMs</h1>
        <p class="lead mb-4">Quickly locate the nearest banks in your area</p>

        <form method="post">
            <div class="search-bar">
                <label for="Address">Location:</label><br>
                <input type="text" id="searchInput" name="SearchInput" class="form-control mb-2" placeholder="Enter your city or address" />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    @if (!string.IsNullOrEmpty(Model.SearchInput))
    {
        <div id="result">
            <h4 class="text-success">You searched for: <strong>@Model.SearchInput</strong></h4>
        </div>
    }

    <div id="map"></div>
</div>

@section Scripts {
    <script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=2"></script>

    <script>
        function GetMap() {
            const map = new atlas.Map('map', {
                center: [-118.270293, 34.039737],
                zoom: 14,
                authOptions: {
                    authType: 'subscriptionKey',
                    subscriptionKey: '9L98ONwzVRUxJoCBRC0eS7LsA2RnB7ghI0qZfeIt5aVCRZzDykbFJQQJ99BEAC5RqLJZjxS7AAAgAZMP2QkN'
                }
            });
        }

        window.onload = GetMap;
    </script>
}
